<!-- Child of editProfile component -->

<div class="row" *ngIf="member">
  <div class="col-2" *ngFor="let photo of member.photos">
    <div class="img-container" [ngClass]="{'hovered': hoveredStates.get(photo.id)}">
      <img src="{{photo.url}}" alt="user photo" class="photo-thumbnail-size mb-1">
      <div class="text-center">
        <button class="btn-main btn btn-sm" 
                (mouseover)="onHover(photo)" 
                (mouseout)="hoverOut(photo)">Main
        </button>
        <button class="btn-delete btn btn-med btn-danger">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>





