/* You can add global styles to this file, and also import other style files */
/* This GLOBAL STYLES can be used to OVER-RIDE Angular imports! */


/* FIXME: Change this up (need to change css style 
  - Also have the tabs border show up briefly when I click on another tab (error which shouldn't be happening)
  - Can also ask GPT to refactor this code slightly (help me come up with better variable names if needed (might help with good coding practice?)
*/

.tab-panel {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.nav-tabs > li.open, .member-tabs > .nav-tabs > li:hover {
  border-bottom: 4px solid #000000;
}

.member-tabs > .nav-tabs > li.open > a, .member-tabs > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}

.member-tabs > .nav-tabs > li.open > a > i, .member-tabs > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}

.member-tabs > .nav-tabs > li.open .dropdown-menu, .member-tabs > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.member-tabs > .nav-tabs > li.active {
  border-bottom: 4px solid #000000;
  position: relative;
}

.member-tabs > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}

.member-tabs > .nav-tabs > li.active > a > i {
  color: #404040;
}

.member-tabs > .tab-content {
  margin-top: -3px;
  background-color: #ffffff;
  border: 0;
  border-top: 1px solid #000000;
  padding: 15px 0;
}

/* TODO: NG-Gallery -> Gallery - scroll down -> Gallery API (shows different styles -> Can make it look nice once we have more built */
.photo-gallery{
  height: 650px;
  padding: 5px ;
}



.card {
  border: 1px solid black;
}

input:focus, 
textarea:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid black !important;
}

