<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Learn More</h5>
    <button type="button" id="customCloseButton" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

  </div>
  <div class="modal-body">
    <p>&gt; Discover a world of possiblities and potential matches, simply register or if you have, please login 😀</p>
    <p>&gt; How it works:
      Getting started is easy, once logged in, visit your profile and update your personal information. Then upload an image of yourself, or a couple. The more the merrier. Once these have been approved by an admin, choose the photos you wish to be displayed. You are then set to start looking through the matches and find who you want to match with 😊
    </p>
    <p>&gt; Safety:
      Please refrain from sharing explicit pictures as these will result in an immediate ban. If you are unsure about a picture, please contact an admin. If you are unsure about a user, please report them to an admin.
    </p>
  </div>
  <div class="modal-footer">
    <p>Contact Email: <a href="mailto:nxm285@student.bham.ac.uk">nxm285@student.bham.ac.uk</a></p>
  </div>
</div>

