<div class="row" >
  <div class="col-4">
    <div class="card">
      <img src="{{member.photoUrl || './assets/DefaultUser.jpg'}}" alt="{{member.knownAs}}" class="card-img-top img-thumbnail">
      <div class="card-body">
        <div class="mb-2" *ngIf="(serviceUserPresence.usersOnline$ | async)?.includes(member.userName)">
          <i class="fa fa-user-circle online-user-text"></i> Online
        </div>
        <div>
          <strong>Location:</strong>
          <p>{{member.city}}, {{member.country}}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{member.age}}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
           <!-- member.lastActive + 'Z' | -> This updates to UTC from client (FIXME: No ideal !) -->
          <p>{{member.lastActive | timeago}}</p>
        </div>
        <div>
          <strong>Member since:</strong>
          <p>{{member.userCreated | date: 'dd MMMM yyyy'}}</p>
        </div>
      </div>
      <!-- Fa Icons -->
      <div class="card-footer">
        <div class="btn-group d-flex">
            <button class="btn btn-primary">
                <i class="fa fa-regular fa-heart" style="color: #ffffff;"></i> Like
            </button>
            <button class="btn btn-success" (click)="tabSelector('Messages')">
                Message <i class="fas fa-comment" style="color: #ffffff;"></i>  
            </button>
        </div>
    </div>
    
    </div>
  </div>
  <div class="col-8">
    <!-- Tabs -->
    <tabset #tabsMember class="member-tabs">
      <tab heading="About {{member.knownAs}}" (selectTab)="tabActivated($event)">
        <h4>Description</h4>
        <p>{{member.introduction}}</p>
        <h4>Looking for</h4>
        <p>{{member.lookingFor}}</p>
      </tab>
      <!-- Interests -->
      <tab heading="Interests" (selectTab)="tabActivated($event)">
        <h4>Interests</h4>
        <p>{{member.userInterests}}</p>
      </tab>
      <!-- Messages -->
      <tab heading="Messages" (selectTab)="tabActivated($event)">
        <app-member-messagetab [username]="member.userName"></app-member-messagetab>
      </tab>
      <!-- Photos -->
      <tab heading="Photos" #tabPhoto="tab" (selectTab)="tabActivated($event)"> 
        <gallery [items]="img" *ngIf="tabPhoto.active" class="photo-gallery"></gallery>  
      </tab>
    </tabset>
  </div>
</div>