<!-- Buttons -->
<div class="mb-4 d-flex">
  <div class="btn-group" name="messageContainer">
    <!-- Inbox -->
    <button class="btn btn-dark" [class.active]="messageContainer === 'Inbox'" btnRadio="Inbox"
      [(ngModel)]="messageContainer" (click)="messageLoader()">
      <i class="fa fa-envelope-open"></i> Inbox
    </button>

    <!-- Unread -->
    <button class="btn btn-dark" [class.active]="messageContainer === 'Unread'" btnRadio="Unread"
      [(ngModel)]="messageContainer" (click)="messageLoader()">
      <i class="fa fa-envelope"></i> Unread
    </button>

    <!-- Sent -->
    <button class="btn btn-dark" [class.active]="messageContainer === 'Sent'" btnRadio="Sent"
      [(ngModel)]="messageContainer" (click)="messageLoader()">
      <i class="fa fa-paper-plane"></i> Sent
    </button>
  </div>
</div>

<!-- No Message -->
<div class="row" *ngIf="!message || message.length==0">
  <h2>Oh, looks empty... 😕 </h2>
  <h3>Match and message a member to fill this place up 😋</h3>
</div>

<!-- Have Messages -->
<div class="row" *ngIf="message && message.length > 0">
  <table class="table-hover">
    <thead>
      <tr>
        <th class="table-headers-main"> Message </th>
        <th class="table-headers" *ngIf="messageContainer === 'Inbox'"> From </th>
        <th class="table-headers" *ngIf="messageContainer === 'Sent'"> To </th>
        <th class="table-headers" *ngIf="messageContainer === 'Unread'"> From </th>
        <th class="table-headers"> 
          <span *ngIf="messageContainer === 'Inbox' || messageContainer === 'Unread'">Received At</span>
          <span *ngIf="messageContainer === 'Sent'">Sent At</span>
        </th>
        <th class="table-headers"></th>
      </tr>
    </thead>
    <tbody>
      <tr [hidden]="pageLoad" *ngFor="let msg of message"
      routerLink="{{messageContainer === 'Sent'? 
      '/members/' + msg.messageReceivingUsername 
      : '/members/' + msg.messageSenderUsername}}"
      [queryParams]="{tab: 'Messages'}">
        <td>{{msg.messageContent}}</td>
        <td>
           <!-- I am sending (to) -->
           <div *ngIf="messageContainer === 'Sent'">
            <img class="img-circle"
              src="{{msg.messageReceivingPhotoURL || './assets/DefaultUser.jpg'}}" alt="Receiving User Photo">
            <strong class="ms-1">{{msg.messageReceivingUsername | titlecase}}</strong>
          </div>

          <!-- I am receiving (from) -->
          <div *ngIf="messageContainer !== 'Sent'">
            <img class="img-circle"
              src="{{msg.messageSenderPhotoURL || './assets/DefaultUser.jpg'}}" alt="Receiving User Photo">
            <strong class="ms-1">{{msg.messageSenderUsername | titlecase}}</strong>
          </div>
        </td>
        <td>{{msg.messageSentAt | timeago}}</td>
        <td>
          <button (click)="$event.stopPropagation()" (click)="messageDelete(msg.messageId)" class="btn btn-delete">Delete Message</button></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Pagination  -->
<div class="d-flex justify-content-center mt-3"  *ngIf="!pageLoad && pagination && message && message.length > 0">
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
    [maxSize]="5" [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
    nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>
