
<div class="container mt-5">
  <div style="text-align: center;" *ngIf="!registerMode">
    <h1>Find your match</h1>
    <p class="lead">Find the perfect match today... all you have to do is sign up!</p>
    <div class="text-center">
      <button (click)="registerToggle()" class="btn text-light btn-lg me-2 btn-color-register"> Register</button>
      <button (click)="openLearnMoreModal()" class="btn btn-color-learn-more text-light btn-lg"> Learn more</button>
    </div>
  </div>

  <div class="contianer" *ngIf="registerMode">
    <div class="row justify-content-center">
        <div class="col-4">
          <app-register (CancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
    </div>
  </div>
</div>

