<!-- TODO: Add stuff for email -> gender, lookingfor and interests (interests can be options they can select which we can use for our matching algorithm?) Also need to update these forms in our input-text.component-->




<form [formGroup]="formRegister" (ngSubmit)="formRegister.valid && register()" autocomplete="false">
  <h2 class="text-center text-dark"> Sign Up</h2>
  <hr>

  <!-- Username -->
  <app-input-text [formControl]="$any(formRegister.controls['username'])" [label]="'Username'"></app-input-text>


  <!-- Password -->
  <div class="input-wrapper">
    <app-input-text [formControl]="$any(formRegister.controls['password'])" [label]="'Password'" [type]="'password'"
      #passwordField></app-input-text>
    <span class="eye-icon-above" (click)="togglePasswordVisibility(passwordField)">
      <i [ngClass]="passwordField.type === 'password' ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
    </span>
  </div>

  <!-- Confirm Password -->
  <div class="input-wrapper">
    <app-input-text [formControl]="$any(formRegister.controls['confirmPassword'])" [label]="'Confirm Password'"
      [type]="'password'" #confirmPasswordField></app-input-text>
    <span class="eye-icon-above" (click)="togglePasswordVisibility(confirmPasswordField)">
      <i [ngClass]="confirmPasswordField.type === 'password' ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
    </span>
  </div>

  <!-- KnownAs -->
  <app-input-text [formControl]="$any(formRegister.controls['knownAs'])" [label]="'Known As'"></app-input-text>

  <!-- Date of Birth -->
  <app-pick-date [formControl]="$any(formRegister.controls['dateOfBirth'])" [label]="'Date of Birth (DD/MM/YYYY)'"
    [maxDate]="maxDate"></app-pick-date>

  <!-- City -->
  <app-input-text [formControl]="$any(formRegister.controls['city'])" [label]="'City'"></app-input-text>

  <!-- Country -->
  <app-input-text [formControl]="$any(formRegister.controls['country'])" [label]="'Country'"></app-input-text>

  <!-- Radio button for gender -->
  <div class="mb-3">
    <label class="d-inline-flex align-items-center align-middle" style="margin-right: 10px;">Gender:</label>
    <label for="male" class="d-inline-flex align-items-center align-middle">
      <input type="radio" id="male" class="check-form-input align-middle" value="male" formControlName="gender">
      <span style="margin-left: 0.25rem;">Male</span>
    </label>
    <label for="female" class="d-inline-flex align-items-center align-middle ms-3">
      <input type="radio" id="female" class="check-form-input align-middle" value="female" formControlName="gender">
      <span style="margin-left: 0.25rem;">Female</span>
    </label>
  </div>

  <!-- Check to see if we have any validation errors (errorValiation array) - Extra safetly layer -->
  <div class="row" *ngIf="ErrorValidation">
    <ul class="validation-err">
      <li *ngFor="let err of ErrorValidation">
        {{err}}
      </li>
    </ul>
  </div>

  <div class="text-center">
    <button [disabled]="!formRegister.valid" class="btn btn-register text-light me-2" type="submit"> Register</button>
    <button class="btn btn-cancel text-light" type="button" (click)="cancel()"> Cancel</button>
  </div>

</form>
