<!-- TODO: Add stuff for email -> gender, lookingfor and interests (interests can be options they can select which we can use for our matching algorithm?) Also need to update these forms in our input-text.component-->

<form [formGroup]="formRegister" (ngSubmit)="register()" autocomplete="false">
  <h2 class="text-center text-dark"> Sign Up</h2>
  <hr>

  <!-- Username -->
  <app-input-text [formControl]="$any(formRegister.controls['username'])" [label]="'Username'"></app-input-text>

  <!-- Password -->
  <app-input-text [formControl]="$any(formRegister.controls['password'])" [label]="'Password'"
    [type]="'password'"></app-input-text>

  <!-- Confirm Password -->
  <app-input-text [formControl]="$any(formRegister.controls['confirmPassword'])" [label]="'Confirm Password'"
    [type]="'confirmPassword'"></app-input-text>


  <div class="text-center">
    <button class="btn bg-success bg-gradient text-light me-2" type="submit"> Register</button>
    <button class="btn bg-secondary bg-gradient text-light" type="button" (click)="cancel()"> Cancel</button>
  </div>


</form>
<!-- Pipped out in json format FIXME: Need to remove in future -->
<p>Form Value: {{formRegister.value | json}}</p>
<p>Form Status: {{formRegister.status | json}}</p>