.member-name{
  font-style:oblique;
  font-size:large;
  font-weight:600;
  margin-bottom: 5px;
  position:relative;
}

.member-name::before{
  content: "";
  position: absolute;
  left: -20px;
  top:50%;
  transform: translateY(-50%);
  border-left: 10px solid black;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}