.member-name {
  font-style: oblique;
  font-size: large;
  font-weight: 600;
  margin-bottom: 5px;
  position: relative;
}

.member-name::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  border-left: 10px solid black;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}


/* Default button styles */
::ng-deep pagination .btn, 
::ng-deep pagination .page-link {
  color: black !important; 
  background-color: white !important; 
  border-color: rgb(160, 159, 159) !important;
}

/* Hover state */
::ng-deep pagination .btn:hover, 
::ng-deep pagination .page-link:hover {
  background-color: rgb(197, 191, 191) !important;
  border-color: black !important;
}

/* Active page button */
::ng-deep pagination .btn.active, 
::ng-deep pagination .page-link.active,
::ng-deep pagination .btn.active:focus,
::ng-deep pagination .page-link.active:focus {
  color: white !important; 
  background-color: black !important; 
  border-color: darkgrey !important;
}

::ng-deep pagination .page-item.active .page-link {
  background-color: black !important;
  color: white !important;
  border-color: black !important;
}

 



input, select, button {
  height: 34px;
  line-height: 34px;
}


label.col-form-label {
  vertical-align: top; 
  padding-top: 7px; 
  margin-bottom: 0;
}


.min-age-input, .max-age-input {
  width: 80px;
}

.gender-select {
  width: 120px;
  padding: 0 10px; 
  line-height: 34px; 
}


.apply-filters-btn, .reset-filters-btn {
  text-align: center;
  line-height: 24px;
}

.apply-filters-btn {
  background-color: #47a74a;
  border-color: #333232;
  margin-left: 70px; 
}

.apply-filters-btn:hover {
  background-color: #2a922f;
}

.reset-filters-btn {
  background-color: #e73d31;
  border-color: #333232;
}

.reset-filters-btn:hover {
  background-color: #be3838;
}




