.dropdown-toggle, .dropdown-item{
  cursor: pointer;
}

.link-active{
  background-color: rgba(128, 128, 128, 0.5);
  padding: 5px;
  border-radius: 5px;
  color: white;
}
.icon-size-app{
  font-size: larger;
}
.icon-size-nav{
  font-size: medium;
}

img{
  max-height: 45px;
  max-width: 45px;
  border: 1px solid white;
  display: inline;
  margin-right: 10px;
}

.dropdown-item:active {
  background-color: rgb(177, 172, 172);
  color: white;
}

.img-border{
  border: 1px solid black;
}



