<div class="card mb-3 " *ngIf="member">
  <!-- displayed IF we have a member (prevents undefined errors) -->
  <!-- TODO: Can use this *ngIf to display only users which have MATCHED (Rather than all!) -->
  
  <div class="card-img-wrapper"
    [class.user-is-online]="(serviceUserPresence.usersOnline$ | async)?.includes(member.username)">
    <img src="{{member.photoUrl || './assets/DefaultUser.jpg'}}" alt="{{member.knownAs}}" class="card-img-top">
    <ul class="list-inline member-icon animate text-center">
      <li class="list-inline-item">
        <button class="btn btn-dark" routerLink="/members/{{member.username}}"> <i class="fas fa-user"
            style="color: #ffffff;"></i>
        </button>
      </li>
      <!-- Like member -->
      <li class="list-inline-item">
        <button class="btn btn-dark" (click)="likeAdd(member)"><i class="fa fa-regular fa-heart"
            style="color: #ffffff;"></i></button>
      </li>
      <!-- message  -->
      <li class="list-inline-item">
        <button routerLink="/members/{{member.username}}" [queryParams]="{tab: 'Messages'}" class="btn btn-dark">
          <i class="fas fa-comment" style="color: #ffffff;"></i>
        </button>
      </li>
    </ul>
    <div class="card-body p-1">
      <div class="member-info">
        <h5 class="card-title text-left mb-1">
          <span [class.user-is-online]="(serviceUserPresence.usersOnline$ | async)?.includes(member.username)">
            <i class="fas fa-user" style="color: #000000;"></i>
          </span>

          {{member.knownAs}}
        </h5>
        <h5 class="card-title text-right mb-1">
          {{member.age}}
        </h5>
      </div>
      <p class="card-text text-muted text-end custom-bold">{{member.city}}</p>
    </div>